{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/favicon.png" type="image/png">
        <title>CodeBlack</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'destinations/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'destinations/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'destinations/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'destinations/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'destinations/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'destinations/vendors/owl-carousel/owl.carousel.min.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'destinations/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'destinations/css/responsive.css' %}">
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{% url 'Home' %}"><strong><b>Home</b></strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->

        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Explore your favourite destiny</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'Home' %}">Home</a></li>
                        <li class="active">Destination</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->

        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">
                        {% for CulturalPlaceTitle in culturalplacetitle %}
                        {{CulturalPlaceTitle.Heading1}}
                        {% endfor %}
                    </h2>
                    <p>
                        {%for CulturalPlaceTitle in culturalplacetitle %}
                        {{CulturalPlaceTitle.Heading2}}
                        {% endfor %}
                    </p>
                </div>
                <div class="row mb_30">
                    {% for CulturalPlaceDetails in culturalplacedetails %}
                    <div class="col-lg-3 col-sm-6">

                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{{CulturalPlaceDetails.Image.url}}" alt="" style="height:300px">
                                <a href="#" class="btn theme_btn">View More</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">{{CulturalPlaceDetails.Location}}</h4></a>
                            <h4><small><b>{{CulturalPlaceDetails.Details| truncatechars:150}}</b></small></h4>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->

        <!--================Booking Tabel Area  =================-->
        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">
                        {% for NaturalPlaceTitle in naturalplacetitle %}
                        {{NaturalPlaceTitle.Heading1}}
                        {% endfor %}
                    </h2>
                    <p>{% for NaturalPlaceTitle in naturalplacetitle %}
                        {{NaturalPlaceTitle.Heading2}}
                        {% endfor %}
                    </p>
                </div>
                <div class="row accomodation_two">
                    {% for NaturalPlaceDetails in naturalplacedetails %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{{NaturalPlaceDetails.Image.url}}" alt="" style="height:300px;" style="width:700px;">
                                <a href="#" class="btn theme_btn">View More</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">{{NaturalPlaceDetails.Location}}</h4></a>
                            <h5><small>{{NaturalPlaceDetails.Details | truncatechars:150 }}</small></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->
        <!--================ start footer Area  =================-->
        {% block content %}
			<footer class="footer-area section-gap">
				<div class="container">

					<div class="row">
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About NepTour</h6>
								<p>
									NEPTOUR is the web app where the visitors will get effective information
									about cultural and natural places differently. The ratings of the hotels
									are determined in accordance with the features.
								</p>
							</div>
						</div>

						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Navigation Links</h6>
								<div class="row">
									<div class="col">
										<ul>
											<li><a href="{% url 'Home' %}">Home</a></li>
											<li><a href="{% url 'About' %}">About</a></li>
											<li><a href="{% url 'Hotels' %}">Hotels</a></li>
										</ul>
									</div>
									<div class="col">
										<ul>
											<li><a href="{% url 'Destinations' %}">Destinations</a></li>
											 {% if user.is_authenticated %}
											<li><a href="{% url 'Blog' %}">Blog</a></li>
											<li><a href="{% url 'Contact' %}">Contact</a></li>
											{% else %}
											<li><a href="{% url 'Contact' %}">Contact</a></li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row footer-bottom d-flex justify-content-between align-items-center">
						<p class="col-lg-8 col-sm-12 footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made  <i class="fa fa-heart-o" aria-hidden="true"></i> by Team<a href="#" target="_blank">_CodeBlack</a>
</p>
						<div class="col-lg-4 col-sm-12 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
			{% endblock %}
		<!--================ End footer Area  =================-->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'destinations/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'destinations/js/popper.js' %}"></script>
        <script src="{% static 'destinations/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'destinations/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'destinations/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'destinations/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'destinations/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
        <script src="{% static 'destinations/js/mail-script.js' %}"></script>
        <script src="{% static 'destinations/js/stellar.js' %}"></script>
        <script src="{% static 'destinations/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'destinations/js/custom.js' %}"></script>
    </body>
</html>